{% ckan_extends %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Login'), controller='user', action='login') }}</li>
{% endblock %}

{% block primary_content %}
 <section class="module">
    <div class="module-content">
      <h1 class="page-heading">Atlantic Salmon Trust Sign In</h1>
      <p>For AST staff connecting with MS365 account</p>
      <a class="btn btn-primary" href="{{ h.adfs_authentication_endpoint() }}">AST Login</a>
    </div>
  </section>
{% endblock %}

{% block secondary_content %}
  {% block login_logo %}
  <section class="module module-narrow module-shallow">
    {% block login_logo_inner %}
    <h2 class="module-heading">{{ _('Atlantic Salmon Trust Data Portal') }}</h2>
    <div class="module-content">
      <img src="https://data.atlanticsalmontrust.org/uploads/admin/AST-Logo-colour-transparent.png" width="200" alt="the-atlantic-salmon-trust">
    </div>
    {% endblock %}
  </section>
  {% endblock %}
{% endblock %}